<!DOCTYPE html>
<html>
<head>
    <title>Video streaming</title>
</head>
<body>
    <h1>Julio Chilela |  Phd VoD over 3GPP Core</h1>

   
    <div class="embed-responsive embed-responsive-16by9" style="position: relative;padding-bottom: 56.25% !important;"><iframe width="640" height="360" style="max-width: 70%;max-height: 70%; border:none;position: absolute;top: 0;left: 10%;width: 100%; height: 100%;" src="https://vod.clouds2africa.com/vEmbed/2" frameborder="0" allow="fullscreen;autoplay;camera *;microphone *;" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" scrolling="no" videoLengthInSeconds="{videoLengthInSeconds}">iFrame is not supported!</iframe></div>
</body>
</html>